<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader - Vinu Code.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div>
            <span style="color: white;"><span style="color: rgb(255, 102, 0);">You</span>Tube Downloader - <span style="font-size: medium;">Vinu Code.</span></span>
        </div>
    </div>
    <div class="main">
        <form method="get">
            <div>
                <h3>Enter Your Video Link</h3>
            </div>
            <div>
                <input type="text" id="link" class="link">
                <button id="verify" class="verify">Verify</button>
            </div>
            <div>
                <p id="titleName"></p>
            </div>
            <div>
                <button class="downloadButton" type="submit" disabled>Downlader</button>
            </div>
        </form>
    </div>
</body>
</html>