<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader - Vinu Code.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div>
            <span style="color: white;"><span style="color: rgb(255, 102, 0);">You</span>Tube Downloader - <span style="font-size: medium;">Vinu Code.</span></span>
        </div>
    </div>
    <div class="main">
            <div>
                <h3>Enter Your Video Link</h3>
            </div>
            <div>
                <form class="verifFyorm" method="post" style="flex-direction: row;">
                    {% csrf_token %}
                    <input type="text" id="link" class="link" name="link">
                    <button id="verify" class="verify" type="submit">Verify</button>
                </form>
            </div>
            <div>
                <p id="titleName" name="titleName" >{{ videoName }}</p>

            </div>
            <div>
                <button id="download" class="downloadButton" type="submit" disabled>Download</button>
            </div>
    </div>
    <script>
        var titleName = document.getElementById('titleName').innerText;
        var download = document.getElementById('download');
        console.log(titleName);
        console.log(titleName.length)


        if (titleName.length != 0){
            console.log(titleName.length)
            document.getElementById('download').disabled = false;
            console.log(titleName)
        }else{
            console.log('Else is Running')
            document.getElementById('download').disabled = true
        };

    </script>
</body>
</html>